<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: title}); %>
<body>
    <%- include('../partials/header', {title: title}); %>
    <main>
        <p><%- msg %></p>
        <div class="insert">
            <h3>Vložení dat</h3>
            <form action="/urad/pridat" method="post" id="urad">
                <input type="hidden" name="table" id="table" value="urad" required>
                <label for="nazev">Název</label>
                <input type="text" name="nazev" id="nazev" minlength="5" maxlength="255" pattern="[A-Za-z0-9\u0080-\uFFFF,.\-\s]+" title="[A-Z a-z 0-9 , . -]" required>
                <label for="adresa">Adresa</label>
                <input type="text" name="adresa" id="adresa" minlength="5" maxlength="255" pattern="[A-Za-z0-9\u0080-\uFFFF,.\-\s]+" title="[A-Z a-z 0-9 , . -]" required>
                <label for="typ">Typ</label>
                <input type="text" name="typ" id="typ" minlength="5" maxlength="255" pattern="[A-Za-z0-9\u0080-\uFFFF,.\-\s]+" title="[A-Z a-z 0-9 , . -]" required>
                <button type="submit">Submit</button>
            </form>
            <h3>Vložení souboru .JSON</h3>
            <form action="/urad/pridat/json" method="post" id="urad" enctype="multipart/form-data">
                <input type="hidden" name="table" id="table" value="urad" required>
                <label for="jsonfile">Soubor</label>
                <input type="file" name="jsonfile" id="jsonfile" accept=".json" required>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="edit" style="display: none;">
            <h3>Úprava dat</h3>
            <button onclick="closeEdit()">X</button>
            <form action="/urad/upravit" method="post" id="urad">
                <input type="hidden" name="table" id="table" value="urad" required>
                <label for="id">ID</label>
                <input type="text" name="id" id="id" required readonly>
                <label for="nazev">Název</label>
                <input type="text" name="nazev" id="nazev" minlength="5" maxlength="255" pattern="[A-Za-z0-9\u0080-\uFFFF,.\-\s]+" title="[A-Z a-z 0-9 , . -]" required>
                <label for="adresa">Adresa</label>
                <input type="text" name="adresa" id="adresa" minlength="5" maxlength="255" pattern="[A-Za-z0-9\u0080-\uFFFF,.\-\s/]+" title="[A-Z a-z 0-9 , . -]" required>
                <label for="typ">Typ</label>
                <input type="text" name="typ" id="typ" minlength="5" maxlength="255" pattern="[A-Za-z0-9\u0080-\uFFFF,.\-\s]+" title="[A-Z a-z 0-9 , . -]" required>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="data" style="display: block;">
            <h3>Vyhledávání</h3>
            <form action="/urad/hledat" method="post" id="urad">
                <input type="hidden" name="table" id="table" value="urad" required>
                <label for="nazev">Název</label>
                <input type="text" name="nazev" id="nazev" maxlength="255" pattern="[A-Za-z0-9\u0080-\uFFFF,.\-\s]+" title="[A-Z a-z 0-9 , . -]">
                <label for="adresa">Adresa</label>
                <input type="text" name="adresa" id="adresa" maxlength="255" pattern="[A-Za-z0-9\u0080-\uFFFF,.\-\s]+" title="[A-Z a-z 0-9 , . -]">
                <label for="typ">Typ</label>
                <input type="text" name="typ" id="typ" maxlength="255" pattern="[A-Za-z0-9\u0080-\uFFFF,.\-\s]+" title="[A-Z a-z 0-9 , . -]">
                <button type="submit">Submit</button>
            </form>
            <br>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Název</th>
                    <th>Adresa</th>
                    <th>Typ</th>
                    <th>Upravit</th>
                    <th>Smazat</th>
                </tr>
                <% for(var i=0; i < data.length; i++) { %>
                <tr>
                    <td id="<%=i%>_id"><%= data[i].id_u %></td>
                    <td id="<%=i%>_nazev"><%= data[i].nazev %></td>
                    <td id="<%=i%>_adresa"><%= data[i].adresa %></td>
                    <td id="<%=i%>_typ"><%= data[i].typ %></td>
                    <td><button onclick="openEdit(<%=i%>)">✏️</button></td>
                    <td><form action="/urad/smazat" method="post"><input type="hidden" name="id" value="<%= data[i].id_u %>"><button type="submit">❌</button></form></td>
                </tr> 
                <% } %>
            </table>
        </div> 
    </main>
    <%- include('../partials/footer'); %>

    <script>
        const insert = document.getElementsByClassName('insert')[0];
        const edit = document.getElementsByClassName('edit')[0];
        const data = document.getElementsByClassName('data')[0];


        function openEdit(id) {
            for (var i = 1; i < 4+1; i++) {
                edit.getElementsByTagName('input')[i].value = document.getElementById(id +'_'+ edit.getElementsByTagName('input')[i].id).innerText;
            }
            edit.style.display = 'block';
            insert.style.display = 'none';
            data.style.display = 'none';
        }

        function closeEdit() {
            edit.style.display = 'none';
            insert.style.display = 'block';
            data.style.display = 'block';
        }
    </script>
</body>
</html>